a {
    color: #212121
}

a:hover {
    color: #212121;
    text-decoration: none
}

.navbar-brand {
    font-family: 'bigjohn';
    color: #212121 !important;
    margin-left: 15px;
    padding-left: 0px; 
    padding-right: 0px; 
    position: relative;
}

.navbar-brand:hover:after{
    width: 100%;
    left: 0;
    background: #212121;
}

.navbar-brand:after{
    content: '';
    position: absolute;
    width: 0; height: 5px;
    display: block;
    margin-top: 0px;
    right: 0;
    background: #212121;
    transition: width .5s ease;
    -webkit-transition: width .5s ease;
}

.navbar-brand:hover{
    text-decoration: none
}

.navbar {
    background-color: #E73C7E;
    border-radius: 0px;
}

.nav-item {
    position: relative;
    color: #212121;
    font-family: 'bigjohn';
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 18px;
    line-height: 20px;
    float: right;
    background: transparent;
    border: transparent;
}

.nav-item:hover:after{
    width: 100%;
    left: 0;
    background: #212121;
  }

.nav-item:after{
    content: '';
    position: absolute;
    width: 0; height: 5px;
    display: block;
    margin-top: 0px;
    right: 0;
    background: #212121;
    transition: width .5s ease;
    -webkit-transition: width .5s ease;
}

.nav-item:hover {
    color: #282c34;
    text-decoration: none;
}

.dropdown {
    min-width: 100px;
}

.drop-item {
    text-align: center;
    position: relative;
    color: #212121;
    font-family: 'bigjohn';
    padding-top: 15px;
    margin-left: 15px;
    font-size: 18px;
    line-height: 20px;
    float: left;
    background: transparent;
    border: transparent;
}

.dropdown-menu {
    background-color: #E73C7E;
    border-radius: 0px;
    min-width: 100px;
}