.data {
    margin-top: 50px
  }
  
.help-block {
  color: white
}

.alert-success {
  color: #212121;
  border-color: #00FF00;
  background:  #00FF00;
}

.alert-danger {
  color: #212121;
  border-color: red;
  background: red;
}

.alert {
  font-family: bigjohn;
}

.AppLogin {
  color: #E73C7E;
  top: 50%;
}

.AppRegister {
  color: #E73C7E;
}

.App {
  color: #E73C7E;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 44px;
  font-family: 'bigjohn';
}

label {
  font-size: 15px;
  font-family: 'bigjohn' !important;
  color: #E73C7E
}

h2 {
  color: #E73C7E;
  text-align: center;
  font-family: 'bigjohn' !important;
  font-size: 30px !important;
}

p {
  text-align: center;
  font-size: 20px;
  font-family: 'bigjohn';
}

.form-control {
  background: transparent;
  border-color: #E73C7E;
  color: white
}

.button {
  justify-content: center;
  display: flex;
}

.loginbtn {
  text-align: center;
  min-width: 200px;
  font-family: 'bigjohn';
  font-size: 20px;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  color: #E73C7E;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #E73C7E;
  position: relative;
  overflow: hidden;
  margin-top: 25px;
  justify-content: center;
}

.buttonalt {
  text-align: center;
  font-family: 'bigjohn';
  min-width: 200px;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  color: #212121;
  background-color: #E73C7E;
  border-radius: 6px;
  border: 1px solid #E73C7E;
  position: relative;
  overflow: hidden;
  margin-top: 25px;
  justify-content: center;
}

.buttonalt:hover {
  color: #212121
}